*.embed.manifest
*.idb
*.intermediate.manifest
*.ipch
*.res
*.sdf
*.suo
*.VC.db
*.VC.opendb

BuildLog.htm
mt.dep

Debug(gtest)/*
Release(gtest)/*
x64/Debug(gtest)/*
x64/Release(gtest)/*

Debug(cutest)/*
Release(cutest)/*
x64/Debug(cutest)/*
x64/Release(cutest)/*

!*/cutest.dll
!*/cutest.lib
!*/MfcTestRunnerApp.exe

source/basic_types/*/Debug*
source/basic_types/*/Release*
source/basic_types/*/x64/Debug*
source/basic_types/*/x64/Release*

source/gtest_static/*/Debug*
source/gtest_static/*/Release*
source/gtest_static/*/x64/Debug*
source/gtest_static/*/x64/Release*

source/stl/*/Debug*
source/stl/*/Release*
source/stl/*/x64/Debug*
source/stl/*/x64/Release*
